:root {
  --basic-color-logo: #4d5ae5;
  --hover-color: #404bbf;
  --primary-black: #2e2f42;
  --green: #31d0aa;
  --secondary-black: #434455;
  --basic-white: #ffffff;
  --secondary-whitecolor: #f4f4fd;
  --cornflower: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--secondary-black);
  background-color: var(--basic-white);
}

.header-menu {
  color: var(--primary-black);
}

.header-logo.link {
  color: var(--basic-color-logo);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-studio {
  color: var(--primary-black);
}
.address {
  font-style: normal;
}
.address-contacts {
  color: var(--secondary-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.address-contacts.link:hover,
.address-contacts.link:focus {
  color: var(--hover-color);
}
.header-menu-item {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.main-menu a.link {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.link {
  text-decoration: none;
}
.header-menu a:hover,
.header-menu a:focus {
  color: var(--hover-color);
}
.main-menu a.link:hover,
.main-menu a.link:focus {
  color: var(--hover-color);
}

.button-link:hover,
.button-link:focus {
  color: var(--secondary-whitecolor);
  background-color: var(--hover-color);
}
/* HTML MAIN */
.hero {
  background-color: var(--primary-black);
}
.hero-title {
  color: var(--basic-white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--basic-color-logo);
  font-family: "Roboto", sans-serif;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

.list {
  list-style: none;
}
.features-main {
  color: var(--primary-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-description {
  color: var(--secondary-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.products-title {
  color: var(--primary-black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team {
  background-color: var(--secondary-whitecolor);
}
.team-workers-bg {
  background-color: var(--basic-white);
}
.team-workers {
  color: var(--primary-black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-workers-name {
  color: var(--primary-black);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-workers-job {
  color: var(--secondary-black);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* FOOTER */
.footer {
  background-color: var(--primary-black);
}
.footer-link {
  color: var(--basic-color-logo);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: var(--secondary-whitecolor);
}
.footer-description {
  color: var(--secondary-whitecolor);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* PORTFOLIO MAIN */
.portfolio-btn {
  text-align: center;
}
.portfolio-btn-list {
  background-color: var(--secondary-whitecolor);
  cursor: pointer;
  color: var(--basic-color-logo);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-btn-list:hover,
.portfolio-btn-list:focus {
  background-color: var(--hover-color);
  color: var(--basic-white);
}
.products-item {
  color: var(--primary-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.product-description {
  color: var(--secondary-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
