:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-black: #2e2f42;
  --secondary-black: #434455;
  --basic-white: #ffffff;
  --secondary-whitecolor: #f4f4fd;
  --basic-color-logo: #4d5ae5;
  --hover-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #434455;
  background-color: #ffffff;
}
.header {
  color: var(--basic-color-logo);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu {
  color: var(--primary-black);
}

.header-logo.link {
  color: var(--basic-color-logo);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-studio {
  color: var(--primary-black);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03;
  text-transform: uppercase;
}
.address {
  font-style: normal;
  list-style: none;
}

.address-contacts a.link {
  color: var(--secondary-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
}
.address-contacts a.link:hover {
  color: var (--hover-color);
}
.header-menu-item {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.main-menu a.link {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.link {
  text-decoration: none;
}
.header-menu a:hover,
.header-menu a:focus {
  color: var(--hover-color);
}
.main-menu a.link:hover,
.main-menu a.link:focus {
  color: var(--hover-color);
}

.button-link:hover,
.button-link:focus {
  color: var(--secondary-whitecolor);
  background-color: var(--hover-color);
}

.main-images-title {
  color: var(--primary-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-images-secription {
  color: var(--secondary-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: var(----basic-color-logo);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-description {
  color: var(--secondary-whitecolor);
  font-size: 16px;
  line-height: 0.93;
  letter-spacing: 0.02em;
}
.main-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.section-features {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-description {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section2-about {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section3-team {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section3-employers {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section3-job {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
}
