body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.header-logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 0.04;
  letter-spacing: 0.02em;
}
